@media (max-width: 900px) {
    html {
        font-size: 8px;
    }

    .decor {
        margin-top: 3rem;
        margin-right: 2rem;
    }

    .decor h3 {
        font-size: 2.5rem;
    }

    .contact_form,
    textarea,
    button[type="submit"] {
        font-size: 1.5rem;
        color: #070e2b;
        width: 70%;
        display: block;
        padding: 0 1rem;
        margin-bottom: 0.7rem;
    }

    .slider .slick-dots {
        visibility: hidden;
    }
}

@media (max-width: 740px) {
    .first-screen {
        height: 80vh;
    }
}

@media (max-width: 800px) {
    .decor {
        margin-top: 7rem;
        margin-right: 2rem;
    }

    .first-screen {
        height: 70vh;
    }
}

@media (max-width: 680px) {
    .about_manufactory {
        background: url("../src/ksen.jpg") no-repeat center;
        background-size: cover;
        height: auto;
    }

    .contact {
        height: auto;
    }


}

@media (max-width: 600px) {
    .decor {
        margin: 2rem auto;
        border-radius: 5px;
    }

    .contact {
        height: auto;
        background: #ededed;
    }

    footer {
        font-size: 1.5rem;
    }

    .fin_price {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 560px) {
    .first-screen {
        height: 80vh;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 6px;
    }

    .to_hidden {
        visibility: hidden;
        position: absolute;
    }

    .contacts {
        height: auto;
    }

    .first-screen {
        height: 60vh;
    }
}

@media (max-width: 412px) {
    .hidden_mail {
        visibility: hidden;
        position: absolute;
    }

    .first-screen {
        height: 60vh;
    }
}

@media (max-width: 351px) {

    /* .first-screen {
        height: 70vh;
    } */
    html {
        font-size: 5px;
    }
}