<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сообщение с сайта</title>
  </head>
  <body>
    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Имя</b>: {{name}}
    </p>
    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Email</b>: {{email}}
    </p>

    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Сообщение</b>: {{comment}}
    </p>
  </body>
</html>
