{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      table {
        width: 80%;
        border-collapse: collapse;
        border-spacing: 0;
        font-family: "Arial", sans-serif;
      }

      table,
      td,
      th {
        border: 1px dotted;
        text-align: right;
      }

      td,
      th {
        padding: 5px;
        width: 20px;
        height: 35px;
      }

      th {
        background-color: transparent;
      }
    </style>
    <title>Заказ с сайта</title>
  </head>
  <body>
    <h2 style="font-family: 'Arial', sans-serif; color: #070e2b;">
      Заказ с сайта
    </h2>
    <h3 style="font-family: 'Arial', sans-serif; color: #070e2b;">
      Контактные данные
    </h3>
    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Имя</b>: {{name}}
    </p>
    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Email</b>: {{email}}
    </p>
    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Телефон</b>: {{phone}}
    </p>
    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Социальные сети</b>: {{social}}
    </p>

    <p
      style="font-family: 'Arial', sans-serif; color: #070e2b; font-size: 15px;"
    >
      <b>Сообщение</b>: {{comment}}
    </p>
    <h2 style="font-family: 'Arial', sans-serif; color: #070e2b;">
      Детали заказа
    </h2>
    <table>
      <tbody>
        <tr>
          <td><b>Размер</b></td>
          <td>{{drum__size}}</td>
          <td>{{size__price}}р</td>
        </tr>
        <tr>
          <td><b>Количество лепестков</b></td>
          <td>{{drum__leafs_count}}</td>
          <td>{{leafs__price}}р</td>
        </tr>
        <tr>
          <td><b>Форма лепестков</b></td>
          <td>{{drum__shape}}</td>
          <td>-</td>
        </tr>
        <tr>
          <td><b>Оформление</b></td>
          <td>{{drum__color}}</td>
          <td>{{color__price}}р</td>
        </tr>
        <tr>
          <td><b>Гравировка</b></td>
          <td>{{drum__etching}}</td>
          <td>{{etching__price}}р</td>
        </tr>
        <tr>
          <td><b>Сумка</b></td>
          <td>{{drum__bag}}</td>
          <td>{{bag__price}}р</td>
        </tr>
        <tr>
          <td><b>Палочки</b></td>
          <td>{{drum__sticks}}</td>
          <td>-</td>
        </tr>
        <tr>
          <td colspan="3"><b>Итого: </b> {{total__price}}р</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
