{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Собери глюкофон</title>
    <link
    rel="shortcut icon"
    href="{% static '/milo_webpage/src/logo1.ico' %}"
    type="image/x-icon"
  />

    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@200&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static '/milo_webpage/style/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/milo_webpage/style/media.css' %}"
    />
  </head>
  <body>
    <section  class="first-screen">
      <div  class="head " >
        <img src="{% static '/milo_webpage/src/layer.svg' %}" alt="logo" />
        <a class="animated_a" href="{% url 'main_page_url' %}" target="_blank">на главную</a>
      </div>
      <div class="h1"><h1>Как сделать заказ</h1></div>
      
      <div class="cards">
        <div class="card-item">
          <img src="{% static '/milo_webpage/src/draw.svg' %}" alt="create" />
          <h3>собери глюкофон</h3>
          <p>
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут рыбные тексты. Алфавит текстов вопроса о дороге рукописи
            своего текст родного, мир которой первую языкового по всей
            парадигматическая буквоград маленькая, ipsum lorem?
          </p>
        </div>
        <div class="card-item">
          <img src="{% static '/milo_webpage/src/email.svg' %}" alt="create" />
          <h3>мы с тобой свяжемся</h3>
          <p>
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут рыбные тексты. Алфавит текстов вопроса о дороге рукописи
            своего текст родного, мир которой первую языкового по всей
            парадигматическая буквоград маленькая, ipsum lorem?
          </p>
        </div>
        <div class="card-item">
          <img src="{% static '/milo_webpage/src/delivery.svg' %}" alt="create" />
          <h3>доставка</h3>
          <p>
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут рыбные тексты. Алфавит текстов вопроса о дороге рукописи
            своего текст родного, мир которой первую языкового по всей
            парадигматическая буквоград маленькая, ipsum lorem?
          </p>
        </div>
      </div>
    </section>
    <form action="" method="post"><section class="constructor" >
      <h2>собрать глюкофон</h2>

      <!-- size -->
      <h3>диаметр</h3>
      <div class="constuctor-item wow fadeInDown">
        <div class="img_radio ">
          <img class="gl_pic" id="big" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="size" id="30" value="30 cm" /><label class='radio_label' for="30"
            >&#8960 30
            см</label
          >
          <p><strong><span id='30 cm'>6000</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="size" id="22" value="22 cm"/>
          <label class='radio_label' for="22">&#8960 22 см</label>
            
          <p><strong><span id='22 cm'>4000</span> р</strong></p>
        </div>
      </div>
      <div class="line"></div>
      <div class="fixed_price" ><p id='fixed'>0 </p> p</div>
      <!-- count of leafs -->
      <h3>количество лепестков</h3>
      <div class="constuctor-item wow fadeInDown">
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="count" id="8" value="8 лепестков"/>
          <label class='radio_label' for="8"
            >8 лепестков</label>
            
          <p><strong><span id='8 лепестков'>0</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/leafs_10.svg' %}" alt="" />
          <input type="radio" name="count" id="10" value="10 лепестков" />
          <label class='radio_label' for="10"
            >10 лепестков</label>
          <p><strong><span id='10 лепестков'>400</span>  р</strong></p>
        </div>
      </div>
      <div class="row count_leafs_examples" style="justify-content: center;"><a  href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a></div>
      <div class="line"></div>

      <!-- shape of leafs -->
      <h3>форма лепестков</h3>
      <!-- <div><img  src="{% static '/milo_webpage/src/Group3.png" alt="" style="z-index: -10; width: 1000px; height: 600px; position: absolute;"></div> -->

      <div class="constuctor-item wow fadeInDown">
        <div class="img_radio">
          <img class="gl_pic" id="rectangle_shape" src="{% static '/milo_webpage/src/rect-shape.svg' %}" alt="" />
          <input type="radio" name="shape" id="rect" value="rectangle" />
          <label class='radio_label' for="rect"
            >Квадратная</label>
          <p><strong>0 р</strong></p>
        </div>
        <div class="img_radio with_tooltip" data-title="Форма недоступна при выборе: 22 см + 10 лепестков">
          <img class="gl_pic" id="leafs_shape" src="{% static '/milo_webpage/src/leaf-shape.svg' %}" alt="" />
          <input type="radio" name="shape" id="leafs" value="leafs" />
          <label class='radio_label' for="leafs"
            >Листочки</label>
          <p><strong>0 р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" id="geometry_shape" src="{% static '/milo_webpage/src/geometry-shape.svg' %}" alt="" />
          <input type="radio" name="shape" id="geometry" value="geometry" />
          <label class='radio_label' for="geometry"
            >Геометрия</label>
          <p><strong>0 р</strong></p>
        </div>
      </div>
      <div class="row shape_leafs_examples" style="justify-content: center;"><a href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a></div>
      <div class="line"></div>
      <!-- color -->
      <h3>Оформление</h3>
      <div class="constuctor-item color wow fadeInDown">
        <div class=' row-color'>
          <div class="img_radio">
            <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
            <input type="radio" name="color" id="coloration" value="окрашивание в один цвет"/>
            <label class='radio_label' for="coloration"
              >Окрашивание в один цвет</label>
            <p><strong><span id="окрашивание в один цвет"></span> 0 р</strong></p>
          </div>
          <div class="img_radio">
            <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
            <input type="radio" name="color" id="cosmos" value="космос" />
            <label class='radio_label' for="cosmos"
              >"Космос"</label>
            <p><strong><span id='космос'>600</span>  p</strong></p>
          </div>
          <div class="img_radio">
            <img class="gl_pic" src="{% static '/milo_webpage/src/милофон1.webp' %}" alt="" />
            <input type="radio" name="color" id="burning" value="обжиг"/>
            <label class='radio_label' for="burning"
              >Обжиг + лак</label>
            <p><strong><span id="обжиг">800</span> р</strong></p>
          </div>
      </div>
      <div class="row coloration_examples" style="justify-content: center;"><a href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a></div>
      <h3>Гравировка ручной работы
        (только на обжиге)</h3>
        <div class='row-color color_tooltip' data-title="Возможна только при выборе обжига">
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="etching" id="3x3" value="гравировка:3x3" />
          <label class='radio_label' for="3x3"
            >3x3 см</label>
          <p><strong><span id="гравировка:3x3">500</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="etching" id="6x6" value="гравировка:6x6" />
          <label class='radio_label' for="6x6"
            >6x6 см</label>
          <p><strong><span id="гравировка:6x6">1000</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="etching" id="12x12" value="гравировка:12x12" />
          <label class='radio_label' for="12x12"
            >12x12 см</label>
          <p><strong><span id="гравировка:12x12">1800</span> р</strong></p>
        </div>
      </div>
      <div class="row etching_examples" style="justify-content: center;"><a href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a>
        
      </div>
      <div class="remove_div"> <button class='remove'>Удалить выбранную гравировку &#10008</button></div>
      </div>
      <div class="line"></div>

      <!-- accessories -->
      <h3>аксессуары</h3>
      <div class="constuctor-item wow fadeInDown" >
        <div class="img_radio acces">
          <img class="gl_pic" src="{% static '/milo_webpage/src/bag.svg' %}" alt="" />
          <input type="checkbox" name="bag" id="bag" value="сумка" />
          <label class='checkbox_label' for="bag"
            >Сумка-рюкзачок Milofon</label>
          <p><strong><span id="сумка">600</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/sticks.svg' %}" alt="" />
          <input type="checkbox" name="sticks" id="sticks" value="палочки" />
          <label class='checkbox_label' for="sticks">Палочки (2 шт)</label >
            
          <p><strong><span id="палочки">0</span> р</strong></p>
        </div>
    </section>

    <!-- форма для заказа -->
    <div class="fin_price wow fadeInLeft" offset='50' data-wow-duration="1s">
      <div class="order_form decor">
        <input
          class="contact_form"
          type="text"
          placeholder="Ваше имя" name='name'
          required/>
        <input class="contact_form" type="email" placeholder="Email" name='email' required />
        <input class="contact_form" type="tel" name="phone" id="" placeholder="+7(999)999-99-99" required>
        <input class="contact_form" type="url" name="social" id="" placeholder="Ссылка на аккаунт ВК (по желанию)">
        <textarea placeholder="Комментарий к заказу (предпочтительный способ связи, вопросы, пожелания...)" name='comment' rows="7" ></textarea>
        <button class="btn" type="submit">Заказать</button>
      </div>
      <div class="price">
        <p>Итого: <span id="total_price">0</span>  р</p>
        <p id='price_comment'>(сумма может измениться, если захотите добавить дополнительные опции в дальнейшем)</p>
      </div>
      
    </div>
  </form>

  <!-- футер -->
  <footer class='shop'>
    <img src="{% static '/milo_webpage/src/layer.svg' %}" alt="logo" />
    <a class="animated_a" href="{% url 'main_page_url' %}" target="_blank">на главную</a>
    <a class="animated_a hidden_mail" href="mailto:myedition@yandex.ru"
              >myedition@yandex.ru</a
            >

    
    <a class="vk" href="https://vk.com/milofonproject" target="_blank"></a>
    <a
      class="inst"
      href="https://www.instagram.com/milofonist/"
      target="_blank"
    ></a>
    <a class="youtube" href="https://youtube.com/" target="_blank"></a>
    <p class="dev">
      Разработка сайта:
      <a class="animated_a dev_a" href="https://t.me/Procyon_B" target="_blank"
        >Procyon_b</a
      >
    </p>
  </footer>
  <!-- всплывающие окна с примерами работ -->
  <div class="popup count_leafs_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              <!-- <img src="{% static '/milo_webpage/src/fern.jpg' %}" alt="" />
              <img src="{% static '/milo_webpage/src/grass.png' %}" alt="" /> -->
              {% for shape in shapes %}
              <img src="{{ shape.examples_of_shape.url }}" alt="">
              {% endfor %}
      </div>
    </div>
  </div>

  <div class="popup shape_leafs_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              <img src="{% static '/milo_webpage/src/ksen.jpg' %}" alt="" />
              <img src="{% static '/milo_webpage/src/leafs.jpg' %}" alt="" />
      </div>
    </div>
  </div>

  <div class="popup coloration_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              <img src="{% static '/milo_webpage/src/ksen.jpg' %}" alt="" />
              <img src="{% static '/milo_webpage/src/leafs.jpg' %}" alt="" />
      </div>
    </div>
  </div>

  <div class="popup etching_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              <img src="{% static '/milo_webpage/src/fern.jpg' %}" alt="" />
              <img src="{% static '/milo_webpage/src/grass.png' %}" alt="" />
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="{% static '/milo_webpage/style/animate.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="{% static '/milo_webpage/slick/slick.min.js' %}"></script>
  <script src="{% static '/milo_webpage/js/wow.min.js' %}"></script>
  <script src="{% static '/milo_webpage/js/script_ie.js' %}"></script>
  <script type="text/javascript" src="{% static '/milo_webpage/js/script.js' %}"></script>
  <script src="{% static '/milo_webpage/js/js_shop.js' %}"></script>


  </body>
</html>
