{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Собери глюкофон</title>
    <link
    rel="shortcut icon"
    href="{% static '/milo_webpage/src/logo1.ico' %}"
    type="image/x-icon"
  />

    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@200&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static '/milo_webpage/style/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/milo_webpage/style/media.css' %}"
    />
  </head>
  <body>
    <section  class="first-screen">
      <div  class="head " >
        <img src="{% static '/milo_webpage/src/layer.svg' %}" alt="logo" />
        <a class="animated_a" href="{% url 'main_page_url' %}" target="_blank">на главную</a>
      </div>
      <div class="h1"><h1>Как сделать заказ</h1></div>
      
      <div class="cards">
        <div class="card-item">
          <img src="{% static '/milo_webpage/src/draw.svg' %}" alt="create" />
          <h3>собери глюкофон</h3>
          <p>
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут рыбные тексты. Алфавит текстов вопроса о дороге рукописи
            своего текст родного, мир которой первую языкового по всей
            парадигматическая буквоград маленькая, ipsum lorem?
          </p>
        </div>
        <div class="card-item">
          <img src="{% static '/milo_webpage/src/email.svg' %}" alt="create" />
          <h3>мы с тобой свяжемся</h3>
          <p>
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут рыбные тексты. Алфавит текстов вопроса о дороге рукописи
            своего текст родного, мир которой первую языкового по всей
            парадигматическая буквоград маленькая, ipsum lorem?
          </p>
        </div>
        <div class="card-item">
          <img src="{% static '/milo_webpage/src/delivery.svg' %}" alt="create" />
          <h3>доставка</h3>
          <p>
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут рыбные тексты. Алфавит текстов вопроса о дороге рукописи
            своего текст родного, мир которой первую языкового по всей
            парадигматическая буквоград маленькая, ipsum lorem?
          </p>
        </div>
      </div>
    </section>
    <form action="" method="post">
      {% csrf_token %}
      <section class="constructor" >
      <h2>собрать глюкофон</h2>

      <!-- size -->
      <h3>диаметр</h3>
      <div class="constuctor-item wow fadeInDown">
        <div class="img_radio ">
          <img class="gl_pic" id="big" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="size" id="30" value="30 cm" /><label class='radio_label' for="30"
            >&#8960 30
            см</label
          >
          <p><strong><span id='30 cm'>6000</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="size" id="22" value="22 cm"/>
          <label class='radio_label' for="22">&#8960 22 см</label>
            
          <p><strong><span id='22 cm'>4000</span> р</strong></p>
        </div>
      </div>
      <div class="line"></div>
      <div class="fixed_price" ><p id='fixed'>0 </p> p</div>
      <!-- count of leafs -->
      <h3>количество лепестков</h3>
      <div class="constuctor-item wow fadeInDown">
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/size.svg' %}" alt="" />
          <input type="radio" name="count" id="8" value="8 лепестков"/>
          <label class='radio_label' for="8"
            >8 лепестков</label>
            
          <p><strong><span id='8 лепестков'>0</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/leafs_10.svg' %}" alt="" />
          <input type="radio" name="count" id="10" value="10 лепестков" />
          <label class='radio_label' for="10"
            >10 лепестков</label>
          <p><strong><span id='10 лепестков'>400</span>  р</strong></p>
        </div>
      </div>
      <div class="row count_leafs_examples" style="justify-content: center;"><a  href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a></div>
      <div class="line"></div>

      <!-- shape of leafs -->
      <h3>форма лепестков</h3>
      <!-- <div><img  src="{% static '/milo_webpage/src/Group3.png" alt="" style="z-index: -10; width: 1000px; height: 600px; position: absolute;"></div> -->

      <div class="constuctor-item wow fadeInDown">
        <div class="img_radio">
          <img class="gl_pic" id="rectangle_shape" src="{% static '/milo_webpage/src/rect-shape.svg' %}" alt="" />
          <input type="radio" name="shape" id="rect" value="Квадратная" />
          <label class='radio_label' for="rect"
            >Квадратная</label>
          <p><strong>0 р</strong></p>
        </div>
        <div class="img_radio with_tooltip" data-title="Форма недоступна при выборе: 22 см + 10 лепестков">
          <img class="gl_pic" id="leafs_shape" src="{% static '/milo_webpage/src/leaf-shape.svg' %}" alt="" />
          <input type="radio" name="shape" id="leafs" value="Листочки" />
          <label class='radio_label' for="leafs"
            >Листочки</label>
          <p><strong>0 р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" id="geometry_shape" src="{% static '/milo_webpage/src/geometry-shape.svg' %}" alt="" />
          <input type="radio" name="shape" id="geometry" value="Геометрия" />
          <label class='radio_label' for="geometry"
            >Геометрия</label>
          <p><strong>0 р</strong></p>
        </div>
      </div>
      <div class="row shape_leafs_examples" style="justify-content: center;"><a href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a></div>
      <div class="line"></div>
      <!-- color -->
      <h3>Оформление</h3>
      <div class="constuctor-item color wow fadeInDown">
        <div class=' row-color'>
          <div class="img_radio">
            <img class="gl_pic" src="{% static '/milo_webpage/src/color.png' %}" alt="" />
            <input type="radio" name="color" id="coloration" value="окрашивание в один цвет"/>
            <label class='radio_label' for="coloration"
              >Окрашивание в один цвет</label>
              <p style="font-size: 1.2rem;">цвет на выбор</p>
            <p><strong><span id="окрашивание в один цвет"></span> 0 р</strong></p>
          </div>
          <div class="img_radio">
            <img class="gl_pic" src="{% static '/milo_webpage/src/kosmos.png' %}" alt="" />
            <input type="radio" name="color" id="cosmos" value="космос" />
            <label class='radio_label' for="cosmos"
              >"Космос"</label>
              <p style="font-size: 1.2rem;">градиент на выбор (см. примеры)</p>

            <p><strong><span id='космос'>600</span>  p</strong></p>
          </div>
          <div class="img_radio">
            <img class="gl_pic" src="{% static '/milo_webpage/src/burning.png' %}" alt="" />
            <input type="radio" name="color" id="burning" value="радужное закаливание"/>
            <label class='radio_label' for="burning"
              >Радужное закаливание</label>
              <p style="font-size: 1.2rem;">возможны варианты акцентов цвета</p>

            <p><strong><span id="радужное закаливание">800</span> р</strong></p>
          </div>
      </div>
      <div class="row coloration_examples" style="justify-content: center;"><a href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a></div>
      <h3>Гравировка ручной работы
        (только на радужном закаливании)</h3>
        <div class='row-color color_tooltip' data-title="Возможна только при выборе радужного закаливания">
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/grav1.png' %}" alt="" />
          <input type="radio" name="etching" id="3x3" value="гравировка:3x3" />
          <label class='radio_label' for="3x3"
            >3x3 см</label>
          <p><strong><span id="гравировка:3x3">500</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/grav2.png' %}" alt="" />
          <input type="radio" name="etching" id="6x6" value="гравировка:6x6" />
          <label class='radio_label' for="6x6"
            >6x6 см</label>
          <p><strong><span id="гравировка:6x6">1000</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/grav3.png' %}" alt="" />
          <input type="radio" name="etching" id="12x12" value="гравировка:12x12" />
          <label class='radio_label' for="12x12"
            >12x12 см</label>
          <p><strong><span id="гравировка:12x12">1800</span> р</strong></p>
        </div>
      </div>
      <div class="row etching_examples" style="justify-content: center;"><a href="#" style="text-decoration: none; color: #070e2b; " class="btn">Посмотреть примеры</a>
        
      </div>
      <div class="remove_div"> <button class='remove'>Удалить выбранную гравировку &#10008</button></div>
      </div>
      <div class="line"></div>

      <!-- accessories -->
      <h3>аксессуары</h3>
      <div class="constuctor-item wow fadeInDown" >
        <div class="img_radio acces">
          <img class="gl_pic" src="{% static '/milo_webpage/src/bag.svg' %}" alt="" />
          <input type="checkbox" name="bag" id="bag" value="сумка" />
          <label class='checkbox_label' for="bag"
            >Сумка-рюкзачок Milofon</label>
          <p><strong><span id="сумка">600</span> р</strong></p>
        </div>
        <div class="img_radio">
          <img class="gl_pic" src="{% static '/milo_webpage/src/sticks.svg' %}" alt="" />
          <input type="checkbox" name="sticks" id="sticks" value="палочки" />
          <label class='checkbox_label' for="sticks">Палочки (2 шт)</label >
            
          <p><strong><span id="палочки">0</span> р</strong></p>
        </div>
    </section>

    <!-- форма для заказа -->
    <div class="fin_price wow fadeInLeft" offset='50' data-wow-duration="1s">
      <div class="order_form decor">
        <input
          class="contact_form"
          type="text"
          placeholder="Ваше имя" name='name'
          required/>
        <input class="contact_form" type="email" placeholder="Email" name='email' required />
        <input class="contact_form" type="tel" name="phone" id="" placeholder="+7(999)999-99-99" required>
        <input class="contact_form" type="url" name="social" id="" placeholder="Ссылка на аккаунт ВК (по желанию)">
        <textarea placeholder="Комментарий к заказу (предпочтительный способ связи, вопросы, пожелания...)" name='comment' rows="7" ></textarea>
        <span class="error"></span>
        <span id="policy" style='color:#070e2b'
          >Отправляя форму, подтверждаю отправку моих персональных данных.
          <br />
          <a id="check_policy" style='color:#070e2b' href="">Политика конфиденциальности</a>
        </span>
        <button id='second_form_btn' class="btn" type="button">Заказать</button>
      </div>
      <div class="price">
        <p>Итого: <span id="total_price">0</span>  р</p>
        <p id='price_comment'>(сумма может измениться, если захотите добавить дополнительные опции в дальнейшем)</p>
      </div>
      
    </div>
  </form>

  <!-- футер -->
  <footer class='shop'>
    <img src="{% static '/milo_webpage/src/layer.svg' %}" alt="logo" />
    <a class="animated_a" href="{% url 'main_page_url' %}" target="_blank">на главную</a>
    <a class="animated_a hidden_mail" href="mailto:mymilofon@gmail.com"
              >mymilofon@gmail.com</a
            >

    
    <a class="vk" href="https://vk.com/milofonproject" target="_blank"></a>
    <a
      class="inst"
      href="https://www.instagram.com/milofonist/"
      target="_blank"
    ></a>
    <a class="youtube" href="https://www.youtube.com/channel/UCkgg4ldMMTY-9jT8VxyFmCQ?view_as=subscriber" target="_blank"></a>
    <p class="dev">
      Разработка сайта:
      <a class="animated_a dev_a" href="https://t.me/Procyon_B" target="_blank"
        >Procyon_b</a
      >
    </p>
  </footer>
  <!-- всплывающие окна с примерами работ -->
  <div class="popup count_leafs_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              {% for count in counts %}
              <img src="{{ count.leafs_count_examples.url }}" alt="">
              {% endfor %}
      </div>
      <a class="animated_a" style='color:#070e2b' href="https://vk.com/album-157161753_276744799" target="_blank">Больше примеров тут</a>
    </div>
  </div>

  <div class="popup shape_leafs_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              {% for shape in shapes %}
              <img src="{{ shape.examples_of_shape.url }}" alt="">
              {% endfor %}
      </div>
      <a class="animated_a" style='color:#070e2b' href="https://vk.com/album-157161753_276744799" target="_blank">Больше примеров тут</a>
    </div>
  </div>

  <div class="popup coloration_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              {% for color in colors %}
              <img src="{{ color.colorations_examples.url }}" alt="">
              {% endfor %}
      </div>
      <a class="animated_a" style='color:#070e2b' href="https://vk.com/albums-157161753" target="_blank">Больше примеров тут</a>
    </div>
  </div>

  <div class="popup etching_examples__popup">
    <div class="popup_window pic_slider">
      <button class="close">&times;</button>
      <div class="slider examples_slider">
              {% for etchings in etchings %}
              <img src="{{ etchings.etchings_examples.url }}" alt="">
              {% endfor %}
      </div>
      <a class="animated_a" style='color:#070e2b' href="https://vk.com/album-157161753_267872761" target="_blank">Больше примеров тут</a>
    </div>
  </div>

  <div class="popup success_second_popup">
    <div class="popup_window">
      <button class="close">&times;</button>

      <h2>Отлично, мы получили ваш заказ!</h2>
      <img class='rot'
        style="width: 20rem; height: 20rem;"
        src="{% static '/milo_webpage/src/kosmos.png'%}"
        alt=""
      />
      <h3>
        Свяжемся с вами в ближайшее время &#9786;
      </h3>
      <a class="vk" href="https://vk.com/milofonproject" target="_blank"></a>
      <a
        class="inst"
        href="https://www.instagram.com/milofonist/"
        target="_blank"
      ></a>
      <a
        class="youtube"
        href="https://www.youtube.com/channel/UCkgg4ldMMTY-9jT8VxyFmCQ?view_as=subscriber"
        target="_blank"
      ></a>
    </div>
  </div>

  <div class="popup error_first_popup">
    <div class="popup_window">
      <button class="close">&times;</button>

      <h2>Что-то пошло не так и заказ не отправился &#9785;</h2>
      <img
        style="width: 15rem; height: 15rem;"
        src="{% static '/milo_webpage/src/size.svg'%}"
        alt=""
      />
      <h4>
        Попробуйте позже или свяжитесь с нами в социальных сетях
      </h4>
      <a class="vk" href="https://vk.com/milofonproject" target="_blank"></a>
      <a
        class="inst"
        href="https://www.instagram.com/milofonist/"
        target="_blank"
      ></a>
      <a
        class="youtube"
        href="https://www.youtube.com/channel/UCkgg4ldMMTY-9jT8VxyFmCQ?view_as=subscriber"
        target="_blank"
      ></a>
    </div>
  </div>

  <div class="popup policy_popup">
    <div class="popup_window" style="overflow: scroll; text-align: left;">
      <button class="close">&times;</button>

      <h2>Политика в отношении обработки персональных данных</h2>

      <p>
        1. Общие положения Настоящая политика обработки персональных данных
        составлена в соответствии с требованиями Федерального закона от
        27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок
        обработки персональных данных и меры по обеспечению безопасности
        персональных данных, предпринимаемые Шинкаревой Ксенией Михайловной
        (далее – Оператор).
        <br />
        1.1. Оператор ставит своей важнейшей целью и условием осуществления
        своей деятельности соблюдение прав и свобод человека и гражданина при
        обработке его персональных данных, в том числе защиты прав на
        неприкосновенность частной жизни, личную и семейную тайну. <br />
        1.2. Настоящая политика Оператора в отношении обработки персональных
        данных (далее – Политика) применяется ко всей информации, которую
        Оператор может получить о посетителях веб-сайта https://mymilofon.ru.
        <br />
        2. Основные понятия, используемые в Политике <br />
        2.1. Автоматизированная обработка персональных данных – обработка
        персональных данных с помощью средств вычислительной техники; <br />
        2.2. Блокирование персональных данных – временное прекращение
        обработки персональных данных (за исключением случаев, если обработка
        необходима для уточнения персональных данных); <br />
        2.3. Веб-сайт – совокупность графических и информационных материалов,
        а также программ для ЭВМ и баз данных, обеспечивающих их доступность в
        сети интернет по сетевому адресу https://mymilofon.ru; <br />
        2.4. Информационная система персональных данных — совокупность
        содержащихся в базах данных персональных данных, и обеспечивающих их
        обработку информационных технологий и технических средств; <br />
        2.5. Обезличивание персональных данных — действия, в результате
        которых невозможно определить без использования дополнительной
        информации принадлежность персональных данных конкретному Пользователю
        или иному субъекту персональных данных; <br />
        2.6. Обработка персональных данных – любое действие (операция) или
        совокупность действий (операций), совершаемых с использованием средств
        автоматизации или без использования таких средств с персональными
        данными, включая сбор, запись, систематизацию, накопление, хранение,
        уточнение (обновление, изменение), извлечение, использование, передачу
        (распространение, предоставление, доступ), обезличивание,
        блокирование, удаление, уничтожение персональных данных; <br />
        2.7. Оператор – государственный орган, муниципальный орган,
        юридическое или физическое лицо, самостоятельно или совместно с
        другими лицами организующие и (или) осуществляющие обработку
        персональных данных, а также определяющие цели обработки персональных
        данных, состав персональных данных, подлежащих обработке, действия
        (операции), совершаемые с персональными данными; <br />
        2.8. Персональные данные – любая информация, относящаяся прямо или
        косвенно к определенному или определяемому Пользователю веб-сайта
        https://mymilofon.ru; <br />
        2.9. Пользователь – любой посетитель веб-сайта https://mymilofon.ru;
        <br />
        2.10. Предоставление персональных данных – действия, направленные на
        раскрытие персональных данных определенному лицу или определенному
        кругу лиц; <br />
        2.11. Распространение персональных данных – любые действия,
        направленные на раскрытие персональных данных неопределенному кругу
        лиц (передача персональных данных) или на ознакомление с персональными
        данными неограниченного круга лиц, в том числе обнародование
        персональных данных в средствах массовой информации, размещение в
        информационно-телекоммуникационных сетях или предоставление доступа к
        персональным данным каким-либо иным способом; <br />
        2.12. Трансграничная передача персональных данных – передача
        персональных данных на территорию иностранного государства органу
        власти иностранного государства, иностранному физическому или
        иностранному юридическому лицу; <br />
        2.13. Уничтожение персональных данных – любые действия, в результате
        которых персональные данные уничтожаются безвозвратно с невозможностью
        дальнейшего восстановления содержания персональных данных в
        информационной системе персональных данных и (или) уничтожаются
        материальные носители персональных данных. <br />
        3. Оператор может обрабатывать следующие персональные данные
        Пользователя <br />3.1. Фамилия, имя, отчество; 
        <br />3.2. Электронный адрес;
        <br />3.3. Номера телефонов;
        <br />3.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
        <br />3.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
        4. Цели обработки персональных данных <br />4.1. Цель обработки
        персональных данных Пользователя — информирование Пользователя
        посредством отправки электронных писем; уточнение деталей заказа. <br />4.2. Также Оператор
        имеет право направлять Пользователю уведомления о новых продуктах и
        услугах, специальных предложениях и различных событиях. Пользователь
        всегда может отказаться от получения информационных сообщений,
        направив Оператору письмо на адрес электронной почты
        mymilofon@gmail.com с пометкой «Отказ от уведомлений о новых продуктах
        и услугах и специальных предложениях». <br />
        4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов
        интернет-статистики, служат для сбора информации о действиях
        Пользователей на сайте, улучшения качества сайта и его содержания.<br />
        5. Правовые основания обработки персональных данных<br />
        5.1. Оператор обрабатывает персональные данные Пользователя только в
        случае их заполнения и/или отправки Пользователем самостоятельно через
        специальные формы, расположенные на сайте https://mymilofon.ru.
        Заполняя соответствующие формы и/или отправляя свои персональные
        данные Оператору, Пользователь выражает свое согласие с данной
        Политикой.<br />
        5.2. Оператор обрабатывает обезличенные данные о Пользователе в
        случае, если это разрешено в настройках браузера Пользователя
        (включено сохранение файлов «cookie» и использование технологии
        JavaScript). <br />
        6. Порядок сбора, хранения, передачи и других видов обработки
        персональных данных Безопасность персональных данных, которые
        обрабатываются Оператором, обеспечивается путем реализации правовых,
        организационных и технических мер, необходимых для выполнения в полном
        объеме требований действующего законодательства в области защиты
        персональных данных. <br />6.1. Оператор обеспечивает сохранность
        персональных данных и принимает все возможные меры, исключающие доступ
        к персональным данным неуполномоченных лиц. <br />6.2. Персональные
        данные Пользователя никогда, ни при каких условиях не будут переданы
        третьим лицам, за исключением случаев, связанных с исполнением
        действующего законодательства. <br />6.3. В случае выявления
        неточностей в персональных данных, Пользователь может актуализировать
        их самостоятельно, путем направления Оператору уведомление на адрес
        электронной почты Оператора mymilofon@gmail.com с пометкой
        «Актуализация персональных данных». <br />6.4. Срок обработки
        персональных данных является неограниченным. Пользователь может в
        любой момент отозвать свое согласие на обработку персональных данных,
        направив Оператору уведомление посредством электронной почты на
        электронный адрес Оператора mymilofon@gmail.com с пометкой «Отзыв
        согласия на обработку персональных данных». <br />7. Трансграничная
        передача персональных данных <br />7.1. Оператор до начала
        осуществления трансграничной передачи персональных данных обязан
        убедиться в том, что иностранным государством, на территорию которого
        предполагается осуществлять передачу персональных данных,
        обеспечивается надежная защита прав субъектов персональных данных.
        <br />7.2. Трансграничная передача персональных данных на территории
        иностранных государств, не отвечающих вышеуказанным требованиям, может
        осуществляться только в случае наличия согласия в письменной форме
        субъекта персональных данных на трансграничную передачу его
        персональных данных и/или исполнения договора, стороной которого
        является субъект персональных данных. <br />8. Заключительные
        положения <br />
        8.1. Пользователь может получить любые разъяснения по интересующим
        вопросам, касающимся обработки его персональных данных, обратившись к
        Оператору с помощью электронной почты mymilofon@gmail.com. <br />8.2.
        В данном документе будут отражены любые изменения политики обработки
        персональных данных Оператором. Политика действует бессрочно до замены
        ее новой версией. <br />8.3. Актуальная версия Политики в свободном
        доступе расположена в сети Интернет по адресу https://mymilofon.ru.
      </p>

      <p></p>
    </div>
  </div>

  <link rel="stylesheet" href="{% static '/milo_webpage/style/animate.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="{% static '/milo_webpage/slick/slick.min.js' %}"></script>
  <script src="{% static '/milo_webpage/js/wow.min.js' %}"></script>
  <script src="{% static '/milo_webpage/js/script_ie.js' %}"></script>
  <script type="text/javascript" src="{% static '/milo_webpage/js/script.js' %}"></script>
  <script src="{% static '/milo_webpage/js/js_shop.js' %}"></script>
  <script
      type="text/javascript"
      src="{% static '/milo_webpage/js/form.js'%}"
    ></script>


  </body>
</html>
